body { 
    margin: 0;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;

}

#chart { 
    width: 1300px;
    height: 400px;
    margin-left: auto; 
    margin-right: auto;
/*    background: #eee;*/
    margin-top: 20px;

}

.bubbles { 
    fill: crimson;
    stroke: #fff;
    stroke-width: 0;
    opacity: 0.5;
}

.labels { 
    font-size: 70%;
    max-width: 100px;
}

.date { 
    font-size: 200%;
    font-weight: 700;
    color: #fff;
    fill: #000;
    opacity: 0.2;
    
}